.nav {
  .header {
    @apply flex
      h-14
      w-full
      items-center
      justify-start
      border-b-2
      border-r
      bg-white
      p-2
      dark:border-gray-700
      dark:bg-gray-800
      dark:shadow-none;

    .button {
      @apply rounded-md
        p-2
        hover:bg-gray-100
        dark:hover:bg-gray-800;

      .toggleIcon {
        @apply size-6
          text-gray-600
          dark:text-gray-400;
      }
    }
  }

  .section {
    @apply flex
      h-[calc(100vh-3.5rem)]
      w-full
      flex-col
      items-start
      justify-between
      divide-y
      divide-gray-200
      bg-white
      shadow-lg
      dark:divide-gray-700
      dark:border-r
      dark:border-gray-700
      dark:bg-gray-800
      dark:shadow-none;
  }

  .sectionClose {
    @apply hidden;
  }

  .topLinks {
    @apply w-full
      space-y-1
      divide-y
      divide-gray-200
      py-2
      dark:divide-gray-700;

    .accordionMenu {
      h3 {
        @apply cursor-pointer
            px-2
            font-semibold
            dark:text-gray-200;
      }
    }
  }

  .links {
    @apply flex
      flex-col
      gap-2
      px-2;

    a {
      @apply inline-flex
        flex-row
        items-center
        justify-center
        gap-1
        transition-colors
        duration-200;

      &:hover {
        @apply text-teal-500
          underline
          dark:text-teal-400;
      }

      svg {
        @apply size-5;
      }
    }
  }

  .bottomElements {
    @apply mb-4
      flex
      flex-col
      gap-2
      px-2;

    a {
      @apply text-sm
        transition-colors
        duration-200;

      &:hover {
        @apply text-teal-500
          underline
          dark:text-teal-400;
      }
    }
  }
}
