.nav {
  @apply flex
    flex-col
    border-r
    border-r-gray-200
    bg-gray-50
    transition-all
    dark:border-r-gray-700
    dark:bg-gray-800;

  .toggle {
    @apply flex
      w-full
      p-2;
  }

  &.open {
    @apply w-60;

    .toggle {
      @apply justify-end;
    }
  }

  &.closed {
    @apply w-16;

    .toggle {
      @apply justify-center;
    }

    .logo {
      @apply py-2;
    }

    .navBody {
      @apply items-center;

      .topLinks {
        @apply mx-auto
          w-fit;

        .subLinks {
          @apply hidden;
        }

        .link {
          @apply w-fit;

          span {
            @apply hidden;
          }
        }
      }

      .bottomElements a {
        @apply hidden;
      }
    }
  }

  .navBody {
    @apply flex
      flex-1
      flex-col
      justify-between;

    .topLinks {
      @apply w-full;

      .logo {
        @apply block
        py-2;

        svg {
          @apply mx-auto
          h-10
          w-auto
          transition-transform;

          &:hover {
            @apply scale-105;
          }
        }
      }

      .links {
        @apply flex
        flex-col
        space-y-2
        px-2;

        .subLinks {
          h3 {
            @apply border-b
            border-gray-300
            pb-1
            pl-2
            text-xs
            font-semibold
            text-gray-500
            dark:border-gray-700
            dark:text-gray-400;
          }

          .subLink {
            @apply flex
            items-center
            gap-2
            truncate
            rounded
            px-2
            py-1
            text-sm
            font-medium
            transition-colors
            duration-200;

            &:not(.active):hover {
              @apply bg-gray-200
              dark:bg-gray-700;
            }

            &.active {
              @apply text-indigo-500
              dark:text-indigo-400;
            }
          }
        }

        .link {
          @apply flex
          items-center
          gap-2
          text-wrap
          rounded
          p-2
          transition-colors
          duration-200;

          &:hover {
            @apply bg-gray-200
            dark:bg-gray-700;
          }

          &.active {
            @apply bg-indigo-500
            text-white
            dark:bg-indigo-400;
          }
        }
      }
    }

    .bottomElements {
      @apply mb-4
      flex
      w-full
      flex-col
      gap-2
      px-2;

      a {
        @apply flex
        items-center
        gap-2
        rounded
        p-2
        transition-colors
        duration-200;

        &:hover {
          @apply bg-gray-200
          dark:bg-gray-700;
        }
      }
    }
  }
}
