.wrapper {
  @apply flex
    h-screen
    w-screen
    flex-col
    items-center
    justify-center;

  h1 {
    @apply text-center
      text-5xl
      font-bold
      lg:text-6xl;
  }

  p {
    @apply text-center
      text-lg
      text-gray-500
      lg:text-xl
      dark:text-gray-400;
  }

  .error {
    @apply mt-4
      w-2/3
      rounded-md
      border-2
      border-red-500
      bg-red-200/50
      px-3
      py-2
      text-center
      text-lg
      font-semibold
      text-red-500
      lg:w-1/3;
  }

  form {
    @apply mt-8
      flex
      w-2/3
      flex-col
      gap-2
      lg:w-1/3
      lg:gap-4;
  }

  .providersWrapper {
    @apply w-2/3
      lg:w-1/3;

    .providers {
      @apply mt-4
        flex
        w-full
        flex-col
        gap-2;

      .button {
        @apply !w-full;
      }
    }
  }
}
