.wrapper {
  @apply flex
    h-screen
    w-screen
    flex-col
    items-center
    justify-center;

  h1 {
    @apply text-center
      text-5xl
      font-bold
      lg:text-6xl;
  }

  p {
    @apply text-center
      text-lg
      text-gray-500
      lg:text-xl
      dark:text-gray-400;
  }

  form {
    @apply mt-8
      flex
      w-2/3
      flex-col
      gap-2
      lg:w-1/3
      lg:gap-4;
  }
}
