# This is the database URL, you can change it to whatever you want.
# If using docker compose use the below env to match mysql DNS name in docker
#DATABASE_URL="postgresql://postgres:password@postgres:5432/scholarsuite"
DATABASE_URL="postgresql://postgres:password@localhost:5432/scholarsuite"
AUTH_URL="http://localhost:3000"
# openssl rand -base64 32
AUTH_SECRET="agUkPCghEAKcjkVmbDNnSYDvIDbqRe5x5QD0CcDkuuY="
# Next-auth providers
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
AUTH_APPLE_ID=""
AUTH_APPLE_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
