.wrapper {
  @apply flex
    items-center
    justify-between
    gap-4;

  .button {
    @apply rounded
    p-1
    transition-colors
    duration-200
    enabled:hover:bg-gray-200
    disabled:cursor-not-allowed
    disabled:opacity-50
    lg:p-2
    enabled:dark:hover:bg-gray-800
    dark:disabled:opacity-70;

    svg {
      @apply size-5
        lg:size-6;
    }
  }

  .selector {
    @apply flex
    flex-col
    items-center;

    .name {
      @apply inline-flex
      items-center
      justify-center
      gap-2
      text-lg
      font-semibold
      transition-colors
      duration-200
      lg:text-2xl;

      svg {
        @apply size-5
          lg:size-6;
      }

      &:hover:not([aria-expanded='true']) {
        @apply text-gray-500
        dark:text-gray-400;
      }
    }

    .date {
      @apply text-sm
      font-medium
      text-gray-500
      dark:text-gray-400;
    }
  }
}
