.wrapper {
  @apply flex
    items-center
    justify-between
    gap-4;

  .button {
    @apply rounded
    p-2
    transition-colors
    duration-200
    enabled:hover:bg-gray-200
    disabled:cursor-not-allowed
    disabled:opacity-50 enabled:dark:hover:bg-gray-800
    dark:disabled:opacity-70;

    svg {
      @apply size-6
        fill-current;
    }
  }

  .selector {
    @apply flex
    flex-col
    items-center;

    .name {
      @apply inline-flex
      items-center
      justify-center
      gap-2
      text-2xl
      font-bold
      transition-colors
      duration-200;

      svg {
        @apply size-6
          fill-current;
      }

      &:hover:not([aria-expanded='true']) {
        @apply text-gray-500
        dark:text-gray-400;
      }
    }

    .date {
      @apply text-sm
      font-medium
      text-gray-500
      dark:text-gray-400;
    }
  }
}
