.tabsRoot {
  @apply max-w-full;

  .tabsList {
    @apply flex
      gap-2
      overflow-x-auto
      border-b
      border-b-gray-200
      dark:border-b-gray-800;

    .tabsTrigger {
      @apply whitespace-nowrap
        border-b-2
        border-b-transparent
        px-1
        pb-[11px]
        text-sm
        font-semibold
        text-gray-800
        transition-colors
        duration-200
        dark:text-gray-200;

      .tabSecondaryLabel {
        @apply pl-1
          text-gray-500
          dark:text-gray-800;
      }

      &[data-state='active'] {
        @apply border-b-indigo-600
          text-indigo-600
          dark:border-b-indigo-400
          dark:text-indigo-400;

        .tabSecondaryLabel {
          @apply text-indigo-800
          dark:text-indigo-600;
        }
      }

      &:not([data-state='active']):hover {
        @apply border-b-gray-400
          text-gray-900
          dark:border-b-gray-600
          dark:text-gray-100;

        .tabSecondaryLabel {
          @apply text-gray-700
          dark:text-gray-500;
        }
      }
    }
  }
}
