.accordionMenu {
  @apply flex
    flex-col
    gap-2;

  .item {
    .accordion {
      @apply flex
        w-full
        flex-row
        items-center
        justify-between
        px-4
        text-sm;

      span {
        @apply truncate
            text-gray-800
            dark:text-gray-200;
      }

      svg {
        @apply size-6
          text-gray-600
          transition
          dark:text-gray-400;

        &.close {
          @apply rotate-180
            transform;
        }
      }

      &:hover svg {
        @apply text-teal-500
          dark:text-teal-400;
      }
    }

    .panel {
      @apply flex
        flex-col;

      a {
        @apply truncate
          px-4
          py-2
          font-medium;

        &:hover {
          @apply bg-gray-100
            dark:bg-gray-800;
        }

        &.active {
          @apply bg-violet-500
            text-white;
        }
      }
    }
  }
}
