.wrapper {
  @apply m-2
    flex
    w-full
    flex-col
    gap-2
    rounded
    border
    p-2
    transition-colors
    duration-200
    ease-in-out;

  &.processed {
    @apply bg-gray-100
    dark:bg-gray-800;
  }

  &.pending {
    @apply border-teal-500
      bg-white
      dark:bg-gray-900;
  }

  .actions {
    @apply flex
      flex-row
      items-center
      justify-between;

    button {
      @apply flex
        size-fit
        flex-row
        items-center
        justify-center
        gap-2
        rounded
        p-1;

      &:not(:disabled):hover {
        @apply bg-gray-100
        dark:bg-gray-800;
      }

      .doneIcon {
        @apply size-5
          text-green-500
          dark:text-green-400;
      }

      .todoIcon {
        @apply size-5
          text-teal-500
          dark:text-teal-400;
      }

      .notifyIcon {
        @apply size-5
          fill-current
          hover:animate-pulse;
      }
    }
  }

  .class {
    @apply text-gray-500
      dark:text-gray-400;
  }

  h4 {
    @apply text-lg
      dark:text-gray-200;
  }

  ul {
    @apply list-inside
      list-disc;
  }
}
