.card {
  @apply w-40
  rounded-xl
  bg-white
  shadow-lg
  dark:border-2
  dark:border-gray-50
  dark:bg-black
  dark:shadow-none;

  .avatar {
    @apply flex
      h-60
      w-40
      flex-col
      items-center
      justify-center
      rounded-t-xl
      bg-gray-200
      text-6xl
      dark:bg-gray-800;
  }

  .state {
    @apply inline-flex
      h-8
      w-full
      flex-row
      items-center
      justify-center
      text-center
      text-lg
      font-semibold
      text-white
      dark:text-black;

    &.present {
      @apply bg-green-600
        dark:bg-green-500;
    }

    &.absent {
      @apply bg-red-600
        dark:bg-red-500;
    }

    &.late {
      @apply bg-orange-600
        dark:bg-orange-500;
    }
  }

  .firstName {
    @apply pt-2
      text-center
      font-semibold;
  }

  .lastName {
    @apply pb-2
      text-center
      text-sm
      font-medium
      text-gray-500
      dark:text-gray-400;
  }
}
