.badge {
  @apply inline-flex
    items-center
    justify-center
    gap-1
    rounded-md
    px-2
    py-1
    text-xs
    font-medium
    ring-1
    ring-inset;

  svg {
    @apply size-4;
  }
}

.primary {
  @apply bg-gray-50
    text-gray-600
    ring-gray-500/10
    dark:bg-gray-800
    dark:text-gray-300;

  &[role='button']:hover {
    @apply ring-gray-500/20
      dark:bg-gray-700;
  }
}

.secondary {
  @apply bg-indigo-50
    text-indigo-600
    ring-indigo-500/10
    dark:bg-indigo-800
    dark:text-indigo-300;

  &[role='button']:hover {
    @apply ring-indigo-500/20
      dark:bg-indigo-700;
  }
}

.success {
  @apply bg-green-50
    text-green-600
    ring-green-500/10
    dark:bg-green-800
    dark:text-green-300;

  &[role='button']:hover {
    @apply ring-green-500/20
      dark:bg-green-700;
  }
}

.error {
  @apply bg-red-50
    text-red-600
    ring-red-500/10
    dark:bg-red-800
    dark:text-red-300;

  &[role='button']:hover {
    @apply ring-red-500/20
      dark:bg-red-700;
  }
}

.warning {
  @apply bg-yellow-50
    text-yellow-600
    ring-yellow-500/10
    dark:bg-yellow-800
    dark:text-yellow-300;

  &[role='button']:hover {
    @apply ring-yellow-500/20
      dark:bg-yellow-700;
  }
}

.info {
  @apply bg-blue-50
    text-blue-600
    ring-blue-500/10
    dark:bg-blue-800
    dark:text-blue-300;

  &[role='button']:hover {
    @apply ring-blue-500/20
      dark:bg-blue-700;
  }
}
