.section {
  @apply flex
    flex-wrap
    gap-4;

  .card {
    @apply gap-1;

    h2 {
      @apply text-lg
        font-semibold
        text-gray-800
        dark:text-gray-300;
    }

    a {
      @apply text-indigo-600
        hover:text-indigo-800
        dark:text-indigo-400
        dark:hover:text-indigo-200;
    }
  }
}
