.page {
  @apply flex
    h-full
    max-h-screen
    flex-col;

  header {
    @apply mx-4
      flex
      flex-col
      items-center
      justify-between
      border-b
      border-gray-200
      lg:flex-row
      dark:border-gray-800;

    h1 {
      @apply text-xl
        font-bold
        lg:text-2xl;
    }

    p {
      @apply text-gray-500
        dark:text-gray-400;
    }
  }

  .section {
    @apply flex-1
      p-4;
  }
}
