.trigger {
  @apply size-fit
    rounded-full
    focus:outline-none
    focus:ring-2
    focus:ring-teal-500;
}

.content {
  @apply mx-1.5
    flex
    flex-col
    gap-4
    rounded-lg
    bg-white
    p-2
    shadow-lg
    dark:border
    dark:border-gray-700
    dark:bg-gray-900
    dark:shadow-none;

  a {
    @apply flex
      flex-row
      items-center
      gap-2
      hover:underline
      hover:outline-none;

    svg {
      @apply size-5;
    }
  }
}
