.trigger {
  @apply flex
    size-fit
    w-full
    items-center
    justify-start
    gap-2
    rounded-full
    focus:outline-none
    focus:ring-2
    focus:ring-indigo-500;

  .name {
    @apply truncate
      text-sm
      font-semibold
      text-gray-800
      dark:text-gray-200;
  }
}

.content {
  a {
    @apply flex
      flex-row
      items-center
      gap-2
      hover:underline
      hover:outline-none;

    svg {
      @apply size-5;
    }
  }
}
